/* .top-principal {
    position: absolute;
    background-color: red;
    background: #eeeeee;
    border-radius: 15px 15px 0px 0px;
    height: 40px;
    width: 422px;
    margin: 0em;
    border-bottom: 40px;
    margin-bottom: 0px;
} */

.carcasa {
  position: absolute;
  display: block;
  margin: 20px;
  height: 697px;
  width: 422px;
  background: #eeeeee;
  border-radius: 10px 10px 60px 10px;
  margin: 0em;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.top-linea-vertical1 {
  position: absolute;
  background: rgb(230, 229, 229);
  /* background: red; */
  height: 30px;
  width: 4px;
  margin-left: 35px;
  box-shadow: inset 1px 1px 5px -2px rgb(177, 177, 177);
}

.top-linea-vertical2 {
  position: absolute;
  background: rgb(230, 229, 229);
  /* background: red; */
  height: 30px;
  width: 4px;
  margin-left: 380px;
  box-shadow: inset 1px 1px 5px -2px rgb(177, 177, 177);
}

.top-linea-horizontal {
  position: absolute;
  height: 4px;
  width: 422px;
  background: rgb(230, 229, 229);
  /* background: red; */
  margin-top: 30px;
  box-shadow: inset 1px 1px 2px 1px rgb(177, 177, 177);
}

.marco-pantalla {
  position: absolute;
  background: gray;
  height: 280px;
  width: 340px;
  border-radius: 12px 12px 60px 12px;
  margin-top: 55px;
  margin-left: 40px;
  box-shadow: inset 2px 2px 10px 2px rgb(192, 190, 190);
}

.linea-marco-pantalla1 {
  content: "";
  position: absolute;
  background-color: #8b1d90;
  width: 90px;
  height: 3px;
  top: 80px;
  left: 60px;
  box-shadow: 0 6px 0 #283593;
}

.linea-marco-pantalla2 {
  content: "";
  position: absolute;
  background-color: #8b1d90;
  width: 40px;
  height: 3px;
  top: 80px;
  left: 330px;
  box-shadow: 0 6px 0 #283593;
}

.texto-marco-pantalla {
  content: "";
  position: absolute;
  width: 290px;
  height: 3px;
  margin-top: 70px;
  margin-left: 28px;
  text-align: right;
  font-family: sans-serif;
  font-size: 10px;
  color: #b3b3b3;
  box-sizing: border-box;
}

.pantalla-amarillo-verdoso {
  content: "";
  position: absolute;
  /* background: #bdae58; */
  background: #9ca04c;
  width: 225px;
  height: 205px;
  top: 100px;
  left: 100px;
  border: thick;
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.15),
    inset -4px 4px 5px rgba(0, 0, 0, 0.15);
}

.led-bateria-apagado {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 165px;
  left: 65px;
  background-color: #b98181;
  border-radius: 100%;
}

.led-bateria-encendido {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 165px;
  left: 65px;
  border-radius: 100%;
  background-color: red;
  box-shadow: 0 0 3px 1px #ef5350;
}

.texto-bateria {
  content: "";
  position: absolute;
  font-family: sans-serif;
  font-size: 8px;
  top: 182px;
  left: 58px;
  color: #b3b3b3;
}

/* BOTONES */

.botones {
  display: block;
  position: absolute;
  margin-top: 90px;
}

.circulo-boton-direccion {
  content: "";
  position: absolute;
  background: rgb(255, 254, 254);
  width: 115px;
  height: 115px;
  top: 408px;
  left: 38px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 12px 10px rgb(231, 230, 230);
}

.boton-direccion-vertical {
  content: "";
  position: absolute;
  width: 30px;
  height: 93px;
  top: 420px;
  left: 80px;
  background: #444;
  background: black;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px 1px rgb(48, 48, 48), 0px 1px 2px 1px black;
}

.boton-direccion-vertical-brillo {
  content: "";
  position: relative;
  width: 25px;
  height: 2px;
  top: 1px;
  left: 3px;
  background-color: white;
  border-radius: 20%;
  box-shadow: 0px 0px 4px 2px rgb(253, 253, 253),
    62px 0px 4px 2px rgb(253, 253, 253);
  opacity: 80%;
}

.boton-direccion-vertical-marca-braille {
  content: "";
  position: relative;
  background-color: rgb(48, 48, 48);
  width: 4px;
  height: 4px;
  top: 70px;
  left: 8px;
  /* border-radius: 0%; */
  box-shadow: 0px 1px 3px 1px rgb(68, 67, 67), 6px 1px 3px 1px rgb(68, 67, 67),
    12px 1px 3px 1px rgb(68, 67, 67), 0px 8px 3px 1px rgb(68, 67, 67),
    6px 8px 3px 1px rgb(68, 67, 67), 12px 8px 3px 1px rgb(68, 67, 67),
    0px 15px 3px 1px rgb(68, 67, 67), 6px 15px 3px 1px rgb(68, 67, 67),
    12px 15px 3px 1px rgb(68, 67, 67);
}

.boton-direccion-horizontal {
  content: "";
  position: absolute;
  width: 93px;
  height: 30px;
  top: 450px;
  left: 48px;
  /* background: #444; */
  background: black;
  border-radius: 5px;
  box-shadow: inset -1px -1px 5px 1px rgb(48, 48, 48), 1px 1px 2px 1px black;
}

.boton-direccion-horizontal-brillo {
  content: "";
  position: relative;
  width: 25px;
  height: 2px;
  top: 1px;
  left: 4px;
  background-color: white;
  border-radius: 20%;
  box-shadow: 0px 0px 4px 2px rgb(253, 253, 253),
    62px 0px 4px 2px rgb(253, 253, 253);
  /* opacity: 90%; */
}

.boton-direccion-central {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 450px;
  left: 80px;
  /* background-color: #353535; */
  background-color: rgb(24, 24, 24);
  border-radius: 20%;
}

.boton-direccion-central-brillo {
  content: "";
  position: relative;
  width: 20px;
  height: 1px;
  top: 28px;
  left: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0%;
  box-shadow: 0px 0px 3px 1px rgb(253, 253, 253);
  opacity: 50%;
}

.boton-direccion-vertical-antes {
  content: "";
  position: absolute;
  /* background-color: red; */
  width: 0px;
  height: 0px;
  top: 410px;
  left: 88px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #dedede;
}

.boton-direccion-vertical-despues {
  content: "";
  position: absolute;
  /* background-color: red; */
  width: 0px;
  height: 0px;
  top: 515px;
  left: 88px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dedede;
}

.boton-direccion-horizontal-antes {
  content: "";
  position: absolute;
  /* background-color: red; */
  width: 0px;
  height: 0px;
  top: 457px;
  left: 38px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #dedede;
}

.boton-direccion-horizontal-despues {
  content: "";
  position: absolute;
  /* background-color: red; */
  width: 0px;
  height: 0px;
  top: 458px;
  left: 144px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #dedede;
}

/* BOTONES AB */

.boton-ab-fondo {
  position: absolute;
  background: #dfdfdf;
  width: 130px;
  height: 60px;
  top: 430px;
  left: 260px;
  border-radius: 30px;
  box-shadow: inset 1px 15px 17px 1px rgb(180, 180, 180),
    inset -30px -37px 20px 10px rgb(255, 255, 255);
  transform: rotate(-25deg);
}

.botones-ab_xx {
  content: "";
  position: relative;
  width: 44px;
  height: 44px;
  /* top: 424px; */
  /* left: 334px; */
  top: 8px;
  left: 77px;
  background: #a93671;
  border-radius: 100%;
  /* box-shadow: 18px 68px #a93671; */
  box-shadow: 18px 68px #a93671;
  transform: rotate(104deg);
}

.boton-a {
  content: "";
  position: relative;
  width: 44px;
  height: 44px;
  top: 8px;
  left: 79px;
  background: #7e0221;
  border-radius: 100%;
  box-shadow: -1px -1px 2px 0px #353234, inset -1px 2px 8px 0px #fcf9fb;
}

.boton-b {
  content: "";
  position: relative;
  width: 44px;
  height: 44px;
  top: -34px;
  left: 8px;
  background: #7e0221;
  border-radius: 100%;
  box-shadow: -1px -1px 2px 0px #353234, inset -1px 2px 8px 0px #fcf9fb;
}

.texto-boton-ab {
  content: "";
  position: absolute;
  top: 47px;
  left: 27px;
  color: rgb(81, 80, 122);
  font-family: "Nova Square";
  font-size: 15px;
  font-style: initial;
  font-stretch: ultra-condensed;
  font-weight: bold;
  justify-content: left;
}

.botones-seleccion {
  content: "";
  position: absolute;
  background: #9999;
  /* background-color: #9999; */
  border-radius: 10px;
  width: 60px;
  height: 12px;
  top: 570px;
  left: 150px;
  /* Según el navegador hay que añadir el prefijo:
        chrome: -webkit
        firefox: -moz
        resto: sin prefijo
     */
  /* Crear la sombra. Valores de desplazamiento:
       horizontal vertical [desenfoque difusiónPropagación extensión color internaExterna]    
    */
  /* color: #dfdfdf; */
  /* box-shadow: 57px 27px 0px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf; */
  box-shadow: 57px 27px 0px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf;
  transform: rotate(-25deg);
}

.ranuras-altavoz {
  content: "";
  position: absolute;
  background: #dfdfdf;
  border-radius: 10px;
  width: 8px;
  height: 80px;
  top: 626px;
  left: 315px;
  box-shadow: 20px 0px 0px 0px #dfdfdf, 40px 0px 0px 0px #dfdfdf,
    60px 0px 0px 0px #dfdfdf, 80px 0px 0px 0px #dfdfdf,
    100px 0px 0px 0px #dfdfdf;
  box-shadow: inset -1px 1px 5px -2px rgb(177, 177, 177),
    20px 1px 0px 0px rgb(214, 214, 214), 40px 1px 0px 0px rgb(214, 214, 214),
    60px 1px 0px 0px rgb(214, 214, 214), 80px 1px 0px 0px rgb(214, 214, 214),
    100px -0px 0px 0px rgb(214, 214, 214);
  transform: rotate(-30deg);
}

.auriculares {
  content: "";
  position: absolute;
  background-color: #e8e8e8;
  width: 47px;
  height: 12px;
  top: 685px;
  left: 200px;
  border-radius: 60px;
  margin: 0px;
}

.texto-auriculares {
  /* position: relative; */
  color: #dadada;
  font-family: sans-serif;
  font-size: 8px;
  text-align: center;
  top: 50%;
  transform: translateY(-5px);
}

.indicador-auriculares {
  position: relative;
  /* background: red; */
  background-color: #e8e8e8;
  width: 3px;
  height: 8px;
  margin-top: -12px;
  margin-left: 25px;
  /* Crear la sombra. Valores de desplazamiento:
       horizontal vertical [desenfoque difusiónPropagación extensión color internaExterna]    
    */
  box-shadow: 5px 0px 0px 0px #e8e8e8, 10px 0px 0px 0px #e8e8e8;
}

/* EVENTOS */

:root {
  --is-big: 1;
}

.is-big {
  --is-big: 1;
}
