/* .top-principal {
    position: absolute;
    background-color: red;
    background: #eeeeee;
    border-radius: 15px 15px 0px 0px;
    height: 40px;
    width: 422px;
    margin: 0em;
    border-bottom: 40px;
    margin-bottom: 0px;
} */

.carcasa {
    position: absolute;
    display: block;
    margin: 20px;
    height: 697px;
    width: 422px;
    background: #eeeeee;
    border-radius: 15px 15px 60px 10px;
    margin: 0em;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.top-linea-vertical1 {
    position: absolute;
    background: rgb(230, 229, 229);
    /* background: red; */
    height: 30px;
    width: 4px;
    margin-left: 50px;
}

.top-linea-vertical2 {
    position: absolute;
    background: rgb(230, 229, 229);
    /* background: red; */
    height: 30px;
    width: 4px;
    margin-left: 366px;
}

.top-linea-horizontal {
    position: absolute;
    height: 4px;
    width: 422px;
    background: rgb(230, 229, 229);
    /* background: red; */
    margin-top: 30px;
}

.marco-pantalla {
    position: absolute;
    background: gray;
    height: 280px;
    width: 340px;
    border-radius: 12px 12px 60px 12px;
    margin-top: 55px;
    margin-left: 40px;
}

.linea-marco-pantalla1 {
    content: "";
    position: absolute;
    background-color: #8b1d90;
    width: 90px;
    height: 3px;
    top: 80px;
    left: 60px;
    box-shadow: 0 6px 0 #283593;
}

.linea-marco-pantalla2 {
    content: "";
    position: absolute;
    background-color: #8b1d90;
    width: 40px;
    height: 3px;
    top: 80px;
    left: 330px;
    box-shadow: 0 6px 0 #283593;
}

.texto-marco-pantalla {
    content: "";
    position: absolute;
    width: 290px;
    height: 3px;
    margin-top: 70px;
    margin-left: 28px;
    text-align: right;
    font-family: sans-serif;
    font-size: 10px;
    color: #b3b3b3;
}

.pantalla-amarillo-verdoso {
    content: "";
    position: absolute;
    background: #bdae58;
    width: 225px;
    height: 205px;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
    top: 100px;
    left: 100px;
}

.led-bateria-apagado {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 165px;
    left: 70px;
    background-color: #b98181;
    border-radius: 100%;
}

.texto-bateria {
    content: "";
    position: absolute;
    font-family: sans-serif;
    font-size: 8px;
    top: 182px;
    left: 58px;
    color: #b3b3b3;
}

/* BOTONES */

.botones {
    display: block;
    position: absolute;
    margin-top: 90px;
}

.boton-direccion-vertical {
    content: "";
    position: absolute;
    width: 30px;
    height: 93px;
    top: 420px;
    left: 80px;
    background: #444;
    border-radius: 5px;
}

.boton-direccion-horizontal {
    content: "";
    position: absolute;
    width: 93px;
    height: 30px;
    top: 450px;
    left: 48px;
    background: #444;
    border-radius: 5px;
}

.boton-direccion-central {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 450px;
    left: 80px;
    background-color: #353535;
    border-radius: 100%;
}

.boton-direccion-vertical-antes {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 0px;
    height: 0px;
    top: 410px;
    left: 88px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #dedede;
}

.boton-direccion-vertical-despues {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 0px;
    height: 0px;
    top: 515px;
    left: 88px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #dedede;
}

.boton-direccion-horizontal-antes {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 0px;
    height: 0px;
    top: 457px;
    left: 38px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #dedede;
}

.boton-direccion-horizontal-despues {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 0px;
    height: 0px;
    top: 458px;
    left: 144px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #dedede;
}

.boton-a {
    position: absolute;
    background: #dfdfdf;
    width: 130px;
    height: 60px;
    top: 430px;
    left: 260px;
    border-radius: 30px;
    -webkit-transform: rotate(-25deg);
}

/* EVENTOS */

:root {
    --is-big: 1;
}

.is-big {
    --is-big: 1;
}

.led-bateria-encendido {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 165px;
    left: 70px;
    border-radius: 100%;
    background-color: red;
    box-shadow: 0 0 3px 1px #ef5350;
}